<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% extends 'template.html' %}
        <link rel="stylesheet" href="{{ url_for('static',    filename='style.css') }}">


</head>
<body>
{% block content %}
    {% for brand in brands %}

<div>
<h2 class="strain_name_header">{{ brand.brand_name }}</h2>
</div>

<div id="main">

<div class="prod_page_image_box">
        <img class="prod_page_pic" src='/static/prod_pics/{{ brand.pic }}'>
</div>

{{data}}

<div class="prod_page_card">
        <table class="product_card_prod_page">

             <tr>
            <td class="table_header">Founded</td><td>{{ brand.founded }}</td>
         </tr>
             <tr>
            <td class="table_header">Headquarters</td><td>{{ brand.headquarters }}</td>
         </tr>
             <tr>
            <td class="table_header">Products</td><td>{{ brand.products }}</td>
         </tr>
        </table>
</div>
    <p style="padding-bottom: 10px;"></p>

    {% endfor %}
    {% endblock %}


</div>

</body>
</html>


